@page "/quicklink"
@rendermode InteractiveServer 

<AuthorizeView>
	<Authorized>
		<h3>QuickLink</h3>

		<p>Xin chào, bạn đã đăng nhập thành công!</p>
	</Authorized>
	<NotAuthorized>
		@if (!_firstRender)
		{
			<RedirectToErrors />
		}
		else
		{
			<MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
		}
	</NotAuthorized>
</AuthorizeView>


@code {

	private bool _firstRender = true;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			// Trang hoặc component đã tải xong lần đầu
			_firstRender = false;
			StateHasChanged(); // Gọi lại StateHasChanged để cập nhật giao diện với điều kiện If
			Console.WriteLine("Page loaded completely!");
		}
	}
}