@page "/login"
@layout MainLayoutEmpty
@inject IJSRuntime jS
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<HeadContent>
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<PageTitle>Đăng nhập</PageTitle>

<AuthorizedContent >
    <ChildContent>
        <RedirectToDashboard />
    </ChildContent>
    <NotAuthorizedContent>
        <LoginComponent  />
    </NotAuthorizedContent>
</AuthorizedContent>
<!-- Ads -->
<amp-ad width="100vw" height="320"
        type="adsense"
        data-ad-client="ca-pub-4772558027240339"
        data-ad-slot="4775797103"
        data-auto-format="rspv"
        data-full-width="">
    <div overflow=""></div>
</amp-ad>